*{
    padding:0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
} 
nav{
    margin: 0.5em;
    border-radius: 5px; 
}
.jumbotron{
    text-align: center;
    margin: 10% 0 0 0;
    background:url('news.jpg');
    background-size: cover;
    box-shadow: 5px 5px 10px;
}
.jumbotron p{
    font-family: 'Open Sans Condensed', sans-serif;
} 
#nav-home,#nav-technology,#nav-sports{
    display: grid;
    grid-template-columns: 50% 50%; 
    position: absolute;
}
.card-text{
    font-family: 'Open Sans Condensed', sans-serif;
}  
.card{
    padding:0;
    margin: 0;
    box-shadow: 5px 5px 15px;
} 
.navbar-brand{
    padding: 0;
    margin: 0;
}
.footer { 
    position:fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 60px;
    background-color: #E74C3C; 

} 